<html lang="en">

<head>
  <title>Token</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
  <div class="container card">
    <div class="card-body">
      <h1>Transient Token</h1>
      <%=transientToken%>
      <form action="/checkout" id="checkout-form" method="get">
        <button type="button" id="checkout-button" class="btn btn-primary">Back to Checkout form</button>
      </form>
    </div>
  </div>
  <script>
    // var transientToken = document.querySelector('#transientToken');
    var checkoutButton = document.querySelector('#checkout-button');

    checkoutButton.addEventListener('click', function () {
      var form = document.querySelector('#checkout-form');
      form.submit();
    });
  </script>

</body>

</html>